@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Questrial';
    src: url('./fonts/Questrial-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


/**
  Нормализация блочной модели
 */
 *,
 *::before,
 *::after {
   box-sizing: border-box;
 }
 
 /**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
 :where(ul, ol):where([class]) {
   padding-left: 0;
 }
 
 /**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
 body,
 :where(blockquote, figure):where([class]) {
   margin: 0;
 }
 
 /**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
 :where(
   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   p,
   ul,
   ol,
   dl
 ):where([class]) {
   margin-block: 0;
 }
 
 :where(dd[class]) {
   margin-left: 0;
 }
 
 :where(fieldset[class]) {
   margin-left: 0;
   padding: 0;
   border: none;
 }
 
 /**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
 :where(ul[class]) {
   list-style: none;
 }
 
 /**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
 p {
   --paragraphMarginBottom: 24px;
 
   margin-block: 0;
 }
 
 /**
   Внешний отступ вниз для параграфа без атрибута class,
   который расположен не последним среди своих соседних элементов
  */
 p:where(:not([class]):not(:last-child)) {
   margin-bottom: var(--paragraphMarginBottom);
 }
 
 
 /**
   Упрощаем работу с изображениями
  */
 img {
   display: block;
   max-width: 100%;
 }
 
 /**
   Наследуем свойства шрифт для полей ввода
  */
 input,
 textarea,
 select,
 button {
   font: inherit;
 }
 
 html {
   /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
   height: 100%;
   /**
     Плавный скролл
    */
   scroll-behavior: smooth;
 }
 
 body {
   /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
   min-height: 100%;
   /**
     Унифицированный интерлиньяж
    */
   line-height: 1.5;
 }
 
 /**
   Приводим к единому цвету svg-элементы
  */
 svg *[fill] { fill: currentColor }
 svg *[stroke] { stroke: currentColor }
 
 /**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
 svg * {
   transition-property: fill, stroke;
 }
 
 /**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
 @media (prefers-reduced-motion: reduce) {
   * {
     animation-duration: 0.01ms !important;
     animation-iteration-count: 1 !important;
     transition-duration: 0.01ms !important;
     scroll-behavior: auto !important;
   }
 }

 :root{
  --font-family: 'Poppins', sans-serif;
  --font-family-alt: 'Questrial', sans-serif;
 }

 body{
  font-family: var(--font-family);
  font-weight: 400;
 }

 a{
  text-decoration: none;
 }

 .container{
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
 }

 .header-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
 }

 .header{
  position: absolute;
  padding: 24px 0;
  left: 0;
  top: 0;
  width: 100%;
  
 }

 .header-burger-button{
  position: relative;
  background-color: #F5F6F7;
  width: 40px;
  aspect-ratio: 1;
  border: none;
  border-radius: 50%;
  
 }

 .header-burger-line{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 }

 /* .header-burger-button::after{
  content: "";
  background: url('./icons/burger-lines.svg');
 } */

 .hero{
  padding-top: 189px;
  padding-bottom: 100px;
  background: url('./images/Slider.jpg') center/cover no-repeat;
  min-height: 811px;
  color: #fff;
 }

 .hero-content{
  max-width: 616px;
 }

 .hero-subtitle{
  display: inline-flex;
  margin-bottom: 22px;
  font-size: 14px;
  line-height: 21px;
 }

 .hero-title{
  font-weight: 700;
  font-size: 60px;
  line-height: 1.23;
  margin-bottom: 24px;
 }

 .hero-describe{
  font-size: 16px;
  line-height: 1.62;
  margin-bottom: 45px;
 }

 .hero-link{
  font-size: 16px;
  line-height: 1;
  font-weight: 700;
  display: inline-flex;
  position: relative;
  color:#ffd723;
 }

 .hero-link svg{
  width: 12px;
  aspect-ratio: 1;
  fill: currentColor;
  transform: translateY(-1px);
 }

 .hero-link span{
  text-indent: 10px;
  border-bottom: 1px solid currentColor;
 }
 

 