@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Questrial';
    src: url('./fonts/Questrial-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


/**
  Нормализация блочной модели
 */
 *,
 *::before,
 *::after {
   box-sizing: border-box;
 }
 
 /**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
 :where(ul, ol):where([class]) {
   padding-left: 0;
 }
 
 /**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
 body,
 :where(blockquote, figure):where([class]) {
   margin: 0;
 }
 
 /**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
 :where(
   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   p,
   ul,
   ol,
   dl
 ):where([class]) {
   margin-block: 0;
 }
 
 :where(dd[class]) {
   margin-left: 0;
 }
 
 :where(fieldset[class]) {
   margin-left: 0;
   padding: 0;
   border: none;
 }
 
 /**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
 :where(ul[class]) {
   list-style: none;
 }
 
 /**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
 p {
   --paragraphMarginBottom: 24px;
 
   margin-block: 0;
 }
 
 /**
   Внешний отступ вниз для параграфа без атрибута class,
   который расположен не последним среди своих соседних элементов
  */
 p:where(:not([class]):not(:last-child)) {
   margin-bottom: var(--paragraphMarginBottom);
 }
 
 
 /**
   Упрощаем работу с изображениями
  */
 img {
   display: block;
   max-width: 100%;
 }
 
 /**
   Наследуем свойства шрифт для полей ввода
  */
 input,
 textarea,
 select,
 button {
   font: inherit;
 }
 
 html {
   /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
   height: 100%;
   /**
     Плавный скролл
    */
   scroll-behavior: smooth;
 }
 
 body {
   /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
   min-height: 100%;
   /**
     Унифицированный интерлиньяж
    */
   line-height: 1.5;
 }
 
 /**
   Приводим к единому цвету svg-элементы
  */
 svg *[fill] { fill: currentColor }
 svg *[stroke] { stroke: currentColor }
 
 /**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
 svg * {
   transition-property: fill, stroke;
 }
 
 /**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
 @media (prefers-reduced-motion: reduce) {
   * {
     animation-duration: 0.01ms !important;
     animation-iteration-count: 1 !important;
     transition-duration: 0.01ms !important;
     scroll-behavior: auto !important;
   }
 }

 :root{
  --font-family: 'Poppins', sans-serif;
  --font-family-alt: 'Questrial', sans-serif;
 }

 body{
  font-family: var(--font-family);
  font-weight: 400;
  margin: 0;
 }

 a{
  text-decoration: none;
 }

 .container{
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
 }

 .link{
  display: inline-flex;
  position: relative;
  transition-duration: 0.2s;
  font-family: var(--font-family-alt);
  font-weight: 700;
  font-size: 16px;
 }

 .link svg{
  width: 12px;
  aspect-ratio: 1;
  fill: currentColor;
  transform: translateY(-1px);
 }

 .link span{
  text-indent: 10px;
  border-bottom: 1px solid currentColor;
 }



 .header-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
 }

 .header{
  position: absolute;
  padding: 24px 0;
  left: 0;
  top: 0;
  width: 100%;
  
 }

 .header-burger-button{
  position: relative;
  background-color: #F5F6F7;
  width: 40px;
  aspect-ratio: 1;
  border: none;
  border-radius: 50%;
  transition-duration: 0.2s;
  
 }

 .header-burger-button:hover{
  background-color: #D4D6D4;
  
 }

 .header-burger-line{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 }

 /* .header-burger-button::after{
  content: "";
  background: url('./icons/burger-lines.svg');
 } */

 .hero{
  padding-top: 189px;
  padding-bottom: 100px;
  background: url('./images/Slider.jpg') center/cover no-repeat;
  min-height: 811px;
  color: #fff;
 }

 .hero-content{
  max-width: 616px;
 }

 .hero-subtitle{
  display: inline-flex;
  margin-bottom: 22px;
  font-size: 14px;
  line-height: 21px;
 }

 .hero-title{
  font-weight: 700;
  font-size: 60px;
  line-height: 1.23;
  margin-bottom: 24px;
 }

 .hero-describe{
  font-size: 16px;
  line-height: 1.62;
  margin-bottom: 45px;
 }

 .hero-link{
  font-size: 16px;
  line-height: 1;
  font-weight: 700;
  color:#ffd723;
  transition-duration: 0.2s;
 }

 .hero-link:hover{
  color: #D4D6D4;
 }

 .hero-link svg{
  width: 12px;
  aspect-ratio: 1;
  fill: currentColor;
  transform: translateY(-1px);
 }

 .hero-link span{
  text-indent: 10px;
  border-bottom: 1px solid currentColor;
 }

 .tips{
  margin-bottom: -180px;
  padding-top: 150px;
  padding-bottom: 150px;
 }

 .tips-title{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.28;
  color: #4d533c;
  max-width: 611px;
  margin-bottom: 60px;
 }

 .tips-list{
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
 }

 .tips-list-item{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
 }

 .tips-list-title{
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.42;
  text-transform:uppercase;
  color: #4d533c;
  margin: 0;
  margin-bottom: 20px;
 }

 .tips-list-describe{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  color: rgba(33, 56, 66, 0.6);
  margin: 0;
  margin-bottom: 56px;
  max-width: 194px;
 }

 .tips-list-link{
  margin-top: auto;
  margin-bottom: 0;
  color: #d4d6d4;
 }

 .tips-list-link:hover{
  color: #ffd723;
 } 

 .get-started{
  position: relative;
  top: 180px;
  padding: 70px 0;
  padding-left: calc((100% - 1110px) / 2);
  padding-right: 15px;
  width: 88%;
  box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
  background-color: #fafafa;
 }

 .get-started-title{
  margin: 0;
  margin-bottom: 50px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 60px;
  line-height: 1.23;
  max-width: 821px;
  color: #4d533c;
 }

 .get-started-link{
  color: #D4D6D4;
 }

 .get-started-link:hover{
  color: #ffd723;
 }

 .footer{
  padding-top: 300px;
  background: url('./images/Bg.jpg') center/cover no-repeat;
 }

 .footer-top{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 52px;
  border-bottom: 1px solid #5D6544;
 }

 .footer-contact-item:not(:last-child){
  margin-right: 128px;
 }

 .footer-contact-text{
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 2.5;
  color: #b6c197;
  margin-bottom: 8px;
 }

 .contact-item-val{
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  font-style: normal;
  line-height: 2.5;
  color: #fff;
  text-decoration: none;
 }

 .footer-mid{
  --grid-gap: 70px;
  display: grid;
  gap: var(--grid-gap);
  grid-template-columns: repeat(4, 1fr);
  border-bottom: 1px solid #5D6544;
  padding: 60px 0;
 }

 .footer-column-title{
  font-weight: 600;
  font-size: 16px;
  line-height: 2.37;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 21px;
 }

 .footer-column-link{
  font-weight: 400;
  font-size: 16px;
  line-height: 2.5;
  color: #b6c197;
 }

.footer-column:last-child{
  position: relative;
}

.footer-column:last-child::before{
  content: "";
  position: absolute;
  top: 0;
  left: calc(-1 * (var(--grid-gap)));
  width: 1px;
  height: 100%;
  background-color: #5D6544;
}

.footer-column-describe{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  color: #b6c197;
  margin-bottom: 23px;
}

.footer-mail-link{
  display: inline-block;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.58;
  color: #fff;
  margin-bottom: 24px;
}

.socials-list{
  display: flex;
  align-items: center;
}

.social-item{
  margin-right: 11px;
}

.social-link{
  position: relative;
  display: block;
  width: 33px;
  aspect-ratio: 1;
  background-color: #444A34;
  border-radius: 50%;
  transition-duration: 0.2s;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px auto;
}

.fb-link {
  background-image: url('./icons/fb.svg');
}

.social-link:hover{
  background-color: #ffd723;
}

.footer-bot{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

@media (max-width:992px) {
  .tips-list{
    gap: 50px;
    grid-template-columns: repeat(2, 1fr);
   }

  .tips-list-describe{
    max-width: none;
  }

  .footer-mid{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width:575px) {
  .hero-title{
    font-size: 50px;
  }

  .get-started-title{
    font-size: 50px;
  }

  .tips {
		padding-top: 50px;
		padding-bottom: 50px;
	}

  .footer-mid{
    grid-template-columns: repeat(1, 1fr);
  }

  .footer-bot{
    flex-wrap: wrap;
  }
}

@media (max-width:375px) {
  .tips-list{
    grid-template-columns: repeat(1, 1fr);
   }


  
}
 

 